
	<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Food Violators</a>
		</div>
		<div class="navbar-default">
			
			<!-- <ul class="nav navbar-nav">
				<li><a href="#" > Recipes </a></li>
				<li><a href="#" > Shopping List </a></li>

			</ul> -->

			<ul class="nav navbar-nav navbar-right">
				<!-- <li class="dropdown" appDropdown>
					<a href="#" class="dropdown-toggle" role="button">Manage  <span class="caret"></span></a>
					<ul class="dropdown-menu">
<li><a href="#" > Save Data </a></li>
<li><a href="#" > Fetch Data </a></li>
					</ul>
				</li> -->

			</ul>

		</div>

	</div>	
	</nav>

<div class="container-fluid">
	<img src="./assets/embed_fv.jpg" width="100%" height="550px"><br/>
<ul><h4>
	<br/>
	At FoodViolators we aim to minimize the harmful impact of foodborne dieseases which cause a significant amount of hospitalizations and deaths in the United States and all over the world. </h4><br/>
		<li>We provide up-to-date food inspection data on restaurants and other food serving establishments all across the United States so consumers can make informed decisions about the places they choose to eat. </li>
<li>
		You may be shocked to find what kind of operation your favorite restaurant are really running better yet, you will find out that your go to spots take food safety as seriously as you expect.</li>

	<li>Here's a tip: A food establishment inspection is only a snapshot of the operation in a limited time, look at more than one inspection to get a better idea of the overall operation. </li>
	<li>Eventually we hope to increase public awareness and restaurant accountability concerning food health and safety.
	Besides food safety and public health we are also interested to know how we can improve our service, so if you have any suggestions or comments feel free to contact us </li>
</ul>
</div>